extends layout

block content
  h1= title
  p Welcome to #{title}

  #aDiv
    p Loading jQuery...

  script(type='text/javascript')
    $(document).ready(function() {
        $('#aDiv').append('<p>jQuery loaded!</p>');
    });